*{
    color: #391e1e
}

.img-grid{
    
    
    height:100%;
    overflow: scroll;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    border: solid transparent 2px;
    gap: 5px;
    /* padding:40px; */
    /* margin-top:100px; */
}

.img-wrapper{
   
    border: solid transparent 2px;
    height: 400px;
}

.header{
    position: absolute;
    font-size: 3em;
    font-weight:700;
    border:solid 2px transparent;
    display: inline;
    margin-left:40px;
    margin-top:40px; 
}